{% load static %}
<!DOCTYPE html>
<html >
<head>
   <title>Georgina Corvino Seguros</title>
   <link type="text/css" rel="stylesheet" href='{% static "css/home.css" %}'>
   <link rel="stylesheet" href="https://fontawesome.com/kits/1e416d5629/icons">
   <link rel="icon" href='{% static "imagenes/MiConv.com_R.ico" %}'>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
   <script src="https://kit.fontawesome.com/1e416d5629.js" crossorigin="anonymous"></script>
{% csrf_token %}

   
</head>
<body>
    <header>

        
        <a href="#" class="logo">Georgina Corvino</a>

        <nav class="navbar">

            <ul>
                <li>
                    <a href="#home" class="active">Inicio</a>
                </li>
                <li>
                    <a href="#contacto1">Contacto</a>
                </li>
                <li>
                    <a href="#course">Sobre Mi</a>
                </li>
                    
            </ul>

           
            <div class="fas fa-bars"></div>
        </nav>
    </header>

    <section class="home" id="home">

        <div class="content">
            <h1> Georgina Corvino</h1>
            <h3>Productora de seguros</h3>
        </div>

    </section>

    <section class="product" id="product">

        <div class="box-container">

            <div class="box">

                <i class="fa-sharp fa-solid fa-circle-up"></i>
                <h3>Calidad</h3>
                <p>Profesionalidad en los procedimientos</p>

            </div>

            <div class="box">

                <i class="fa-sharp fa-solid fa-comments"></i>
                <h3>Servicio notable</h3>
                <p>Atencion inmediata con elevado nivel de servicio</p>

            </div>

            <div class="box">

                <i class="fa-sharp fa-solid fa-bolt"></i>
                <h3>Agilidad</h3>
                <p>Acompañamento y facilidad para llevar a cabo los procedimientos</p>

            </div>

        </div>

        <a href="#contact"><button class="button">Cotizacion</button></a>

    </section>

    <section class="about" id="about">

       


        <div class="row">

            
            <div class="text">

                <h1 id="contacto1">Contacto</h1>
                <div class="bb">
                
                <a href="https://www.facebook.com/gcproductora2017/about/"><i class="fab fa-facebook"></i></a>
                
                
              
            </div> 

            <div class="bb">
                
                <a href="https://wa.me/+5491121699217"><i class="fab fa-whatsapp"></i></a>
                
            </div>  

            
            </div>
          
        </div>

        
    </section>

    <section class="course" id="course">


        <div class="box-container">

            <div class="box">

                <i class="fa-sharp fa-solid fa-filter"></i>
                <h3>Cotizaciones personalizadas</h3>
                <p>Diferentes opciones y beneficios</p>
                <p>para que elijas el que mas </p>
                <p>se adapte a vos</p>
            </div>

           

            <div class="box">

                <i class="fa-sharp fa-solid fa-feather"></i>
                <h3>Agilidad administrativa</h3>
                <p>Certificados de cobertura inmediatos </p>
                <p>y asistencia inmediata a todas tus consultas </p>
            </div>

            <div class="box">

                <i class="fa-sharp fa-solid fa-handshake"></i>
                <h3>Gestion de siniestros</h3>
                <p>Voy a guiarte durante todo el</p>
                <p>proceso, desde la denuncia hasta la resolucion final</p>
            </div>


        </div>


    </section>
    
    <section class="galery">

        <div class="container">

            <div class="foto">
                <img src='{% static "imagenes/1.jpg" %}' alt="">

            </div>

            
        </div>

        <div class="container">

            <div class="foto">
                <img src='{% static "imagenes/2.jpg" %}' alt="">

            </div>

           
        </div>


        </div>

        <div class="container">

            <div class="foto">
                <img src='{% static "imagenes/4.jpg" %}' alt="">

            </div>

            
        </div>

        <div class="container">

            <div class="foto">
                <img src='{% static "imagenes/5.jpg" %}' alt="">

            </div>

            
        </div>

        <div class="container">

            <div class="foto">
                <img src='{% static "imagenes/6.jpg" %}' alt="">

            </div>

            
        </div>

        <div class="container">

            <div class="foto">
                <img src='{% static "imagenes/7.jpg" %}' alt="">

            </div>

            
        </div>

        <div class="container">

            <div class="foto">
                <img src='{% static "imagenes/8.jpg" %}' alt="">

            </div>

            
        </div>


            
        </div>

        <div class="container">

            <div class="foto">
                <img src='{% static "imagenes/10.jpg" %}' alt="">

            </div>

            
        </div>

            
        </div>

        <div class="container">

            <div class="foto">
                <img src='{% static "imagenes/11.jpg" %}' alt="">

            </div>

            
        </div>

        <div class="container">

            <div class="foto">
                <img src='{% static "imagenes/13.jpg" %}' alt="">

            </div>

            
        </div>

            
        </div>   


    </section>
 

    <section class="contact" id="contact">

        <h1 class="heading">Realiza una cotizacion</h1>
        <div class="row">
            <div class="form-container">

                    
                    <form action="/registrarCurso/" method="POST">

                    {% csrf_token %}

                    <input type="text" placeholder="Nombre" name="Nombre">
                    <input type="number" placeholder="DNI" name="DNI">
                    <input type="number" placeholder="Numero" name="Numero">
                  

                    <input type="number" placeholder="Codigo Postal" name="CP">
                    <textarea cols="15" rows="5" placeholder="Mensaje" name="Mensaje"></textarea>
                    <div class="env">

                        <input type="submit" value="Enviar" name="Enviar ">
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section class="icons">

        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-gmail"></a>

    </section>
</body>
</html>